

.skill-subheading{
    margin-bottom: 15px;
    border-bottom: 1px solid #ffd9ff;
    padding-bottom: 9px;
}

.portfolio-subheading{
    margin-bottom: 15px;
    border-bottom: 1px solid #ffd9ff;
    padding-bottom: 9px;
    text-align: center;
    font-size: 17px;
}
